<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" *ngIf="!user" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit" ion-button full>Sign in</button>
  </form>

  <div *ngIf="user">
    <button ion-button full (click)="startVideo()">Start Video Receive</button>
    <button ion-button full (click)="userList()">User list</button>
  </div>

  <div class="auth-buttons">
    <div *ngIf="!user">
      <button type="button" ion-button full (click)="goToSignup()">Sign up</button>
    </div>
    <div *ngIf="user">
      <button ion-button full (click)="logout()">Sign out</button>
    </div>
  </div>
</ion-content>
