<ion-header>
  <ion-navbar>
    <ion-title>
      {{ user.username }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="video-container">
    <video class="remote-video" #localVideo autoplay [hidden]="!calling"></video>
    <video class="self-video" #selfVideo autoplay muted></video>
  </div>

  <ion-fab bottom center *ngIf="calling">
    <button ion-fab color="danger" (click)="hang()">
      <ion-icon name="hand"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom left *ngIf="calling">
    <button ion-fab color="primary" (click)="muteToggle()">
      <ion-icon name="mic" *ngIf="muted"></ion-icon>
      <ion-icon name="mic-off" *ngIf="!muted"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
