<!--
  Generated template for the Remote page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Remote</ion-title>

    <ion-buttons end>
      <button (click)="showUsers()">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="video-container">
    <video class="remote-video" #localVideo autoplay [hidden]="!calling"></video>
    <video class="self-video" #selfVideo autoplay muted></video>
  </div>

  <ion-fab bottom center *ngIf="calling">
    <button ion-fab color="danger" (click)="hang()">
      <ion-icon name="hand"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="!selectedUser">
    <ion-list>
      <ion-item *ngFor="let user of users" (click)="connect(user)">
        {{ user.username }}
        {{ user.connection }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
