page-remote {
  .video-container {
    background-color: lightgray;
    bottom: 1em;
    top: 1em;
    left: 1em;
    right: 1em;
    position: absolute;
    overflow: hidden;
  }

  .remote-video {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .self-video {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
